.promo-section {
    background-color: #495E57;
    grid-row: 2;
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.promo-main {
    grid-column: 4 / span 3;
    text-align: left;
    padding-bottom: 50px;
    align-self: center;
}

.promo-main > h1 {
    color: #F4CE14;
    font-size: 64px;
    align-items: left;
    font-family: 'Markazi Text', serif;
}

.promo-main > h2 {
    color: #EDEFEE;
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    margin-top: -65px;
}

.promo-main > p {
    font-family: 'Karla', sans-serif;
    color: #EDEFEE;
    font-size: 16px;
}

.promo-picture {
    grid-column: 8 / span 2;
    align-self: center;
}

.promo-picture > img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 16px;
}

@media (min-width: 1025px) {

}

