.header {
    grid-row: 1;
    grid-column: 3 / span 8;
    height: 100px;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ============== */

@media only screen and (max-width: 1024px) {
.header {
    grid-column: 1/ span 8;
}
    }
/* ============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {

.header {
    grid-column: 1 / span 4;
}
}

