.whole-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3 /span 8;
}
.main-nav {
    display: flex;
    list-style-type: none;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: large;
}

.main-nav > li {
    margin-left: 20px;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ============== */

@media only screen and (max-width: 1024px) {
    .whole-nav {
        grid-column: 1/ span 8;
    }
}
/* ============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 750px) {

.main-nav > li {
    margin-left: 20px;
}

}