.Reservation {
    display: flex;
    grid-row: 2;
    grid-column: 1/span 12;
    align-items: center;
    justify-content: center;
    background-color: #495E57;
    padding-bottom: 300px;
}

.reservation-picture{
    filter: blur(4px);
    width: 100%;
}

h1{
    position:absolute;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ============== */

@media only screen and (max-width: 1024px) {

.Reservation {
    grid-column: 1/span 8;
}
}

/* ============== MEDIA QUERIES (SMALL DEVICES) ============== */

@media screen and (max-width: 600px) {

.Reservation {
    grid-column: 1/span 4;
}

}