.footer-main {
    grid-row: 6;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
}

.footer-logo {
    align-self: center;
}

.footer-nav {
    list-style-type: none;
    align-items: top;
}

.footer-contact {
    list-style-type: none;
    align-items: top;
}

.footer-socials {
    list-style-type: none;
}