.footer-main {
    position: absolute;
    background-color: #495E57;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.footer-logo {
    align-self: center;
}

.footer-logo > img {
    border-radius: 0;
    width: 50%;
    height: 50%;
}

.footer-nav {
    list-style-type: none;
    align-items: top;
    color: #EDEFEE;
}

.footer-contact {
    list-style-type: none;
    align-items: top;
    color: #EDEFEE;
}

.footer-socials {
    list-style-type: none;
    color: #EDEFEE;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ============== */

@media only screen and (max-width: 1024px) {
    .footer-main {
        background-color: #495E57;
        grid-row: 6;
        grid-column: 1 / span 8;
        display: flex;
        justify-content: center;
    }
}
/* ============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {


}