.footer-main {
    background-color: #495E57;
    grid-row: 6;
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
}

.footer-logo {
    align-self: center;
}

.footer-logo > img {
    border-radius: 0;
    width: 50%;
    height: 50%;
}

.footer-nav {
    list-style-type: none;
    align-items: top;
    color: #EDEFEE;
}

.footer-contact {
    list-style-type: none;
    align-items: top;
    color: #EDEFEE;
}

.footer-socials {
    list-style-type: none;
    color: #EDEFEE;
}