.card {
    display: grid;
    grid-template-areas: 
        "picture picture picture"
        "picture picture picture"
        "name name name"
        "price price price"
        "description description description"
        "button button button";
    border: 1px solid gray;
    border-radius: 16px;
    background-color: #EDEFEE;
    padding: 10px;
    min-height: 100%;
}

img {
    grid-area: picture;
    max-height: 100%;
    max-width: 100%;
    min-height: 0;
    min-width: 100%;
    border-radius: 16px;
    align-self: center;
}

.card > h2 {
    grid-area: name;
    grid-column: 2fr;
    max-height: 100%;
    max-width: 100%;
    text-align: left;
}

.card > h3 {
    grid-area: price;
    grid-column: 1fr;
    text-align: left;
    margin-top: -20px;
}

.card > p {
    grid-area: description;
    grid-column: 3fr;
    text-align: left;
    min-height: 100px;
    max-width: 100%;
}

.card > button {
    grid-area: button;
    grid-row: 6;
}