.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 10px;
}

button {
  background-color: #F4CE14;
  padding: 15px 20px;
  border-radius: 16px;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ============== */

@media only screen and (max-width: 1024px) {
  .App {
    display: grid;
    grid-template-columns: repeat(8,1fr);
  }
}

/* ============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {

.App {
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin: 8px;
}

}