.App {
  text-align: center;
}

button {
  background-color: #F4CE14;
  padding: 15px 20px;
  border-radius: 16px;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}
