.whole-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-nav {
    display: flex;
    list-style-type: none;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: large;
}

.main-nav > li {
    margin-left: 20px;
}